*{
    margin: 0;
}
.one{
    width: 980px;
    height: 200px;
    margin: 10px auto;
    background-color: black;
}

.bigmama {
    width: 980px;
    height: auto;
    margin: 0 auto;
}

.two{
    width: 200px;
    height: 600px;
    background-color: pink;
    display: inline-block;
}
.littledaddy{
    width: 580px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
}
.three{
    width: 580px;
    height: 300px;
    background-color: blueviolet;
    display: inline-block;
    vertical-align: top;
}

.littlemama{
    width: 580px;
    height: 290px;
    background-color: chartreuse;
    flex-direction: row;
}

.six{
    width: 180px;
    height: 600px;
    background-color: pink;
    vertical-align: top;
    float: right;
}